.main {
  background-color: white;
  height: 100vh;
  padding: 40px 80px;
}

.card {
  display: flex;
  height: 100vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.left {
  width: 70%;
  padding-top: 30px;
  padding: 50px;
  background-image: url("https://img.freepik.com/free-photo/close-up-businesspeople-working-with-documents_1098-1263.jpg?t=st=1649496299~exp=1649496899~hmac=7d93f9ca7342f3012b164002cb4a2dbea70147625ce919ce39bee82f7021dd51&w=740");
  background-size: cover;
}

.right {
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3% 5%;
}

.login {
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.line {
  width: 105px;
  margin-left: 0;
  border: 3px solid #6161ff;
  border-radius: 5px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  flex-direction: column;
}
.input-styl {
  padding: 8px;
  margin-bottom: 10px;
  border-color: rgb(218, 218, 218);
  border-radius: 5px;
  border: 1px solid rgb(207, 206, 206);
}

.login-btn {
  display: flex;
  justify-content: space-between;
}
.btn {
  width: 80px;
  height: 30px;
  margin-top: 15px;
  background-color: #0088dd;
  color: white;
  border-radius: 5px;
  border-color: #0088dd;
}
.submit-btn {
  width: 80px;
  height: 30px;
  margin-top: 5px;
  background-color: #0088dd;
  color: white;
  border-radius: 5px;
  border-color: #0088dd;
}

.submit-btn:hover {
  width: 80px;
  height: 30px;
  background-color: #026fb3;
  color: white;
  border-radius: 5px;
  border-color: #026fb3;
}
.para {
  color: blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  margin-top: 20px;
}

.last-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.apple-gmail {
  display: flex;
  flex-direction: row;
}
.last-btn1 {
  width: 50%;
  height: 28px;
  background-color: black;
  border-color: black;
  border-radius: 4px;
  color: white;
  margin-right: 2px;
}
.last-btn1:hover {
  width: 50%;
  height: 28px;
  background-color: rgb(20, 20, 20);
  border-color: black;
  border-radius: 4px;
  color: rgb(231, 231, 231);
  margin-right: 2px;
}
#apple {
  margin-right: 5px;
  font-weight: bolder;
}
.last-btn2 {
  width: 50%;
  height: 28px;
  background-color: white;
  border-color: white;
  border-radius: 4px;
  margin-left: 2px;
  border: 1px solid gray;
}
.last-btn2:hover {
  width: 50%;
  height: 28px;
  background-color: rgb(247, 246, 246);
  border-color: white;
  border-radius: 4px;
  margin-left: 2px;
  border: 1px solid gray;
}
#google {
  margin-right: 5px;
  color: black;
}
.last-para {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  color: black;
  margin-top: 10px;
}

.supplier-title-btns {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.top-btn {
  width: 100px;
  height: 40px;
  font-size: large;
  background-color: #0088dd;
  color: white;
  border-radius: 5px;
  border-color: #0088dd;
  margin-left: 5px;
}

.supplier-btns-div {
  display: flex;
  justify-content: flex-end;
}
.contact-line {
  width: 123px;
  margin-left: 0;
  border: 2px solid #6161ff;
  border-radius: 5px;
}
.contact-us {
  margin-bottom: 10px;
}

@media only screen and (max-width: 720px) {
  .main {
    background-color: white;
    height: 100vh;
    padding: 40px 80px;
  }

  .card {
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .container {
    padding: 2px 16px;
  }

  .left {
    width: 70%;
    padding-top: 30px;
    padding: 50px;
    background-image: url("https://img.freepik.com/free-photo/close-up-businesspeople-working-with-documents_1098-1263.jpg?t=st=1649496299~exp=1649496899~hmac=7d93f9ca7342f3012b164002cb4a2dbea70147625ce919ce39bee82f7021dd51&w=740");
    background-size: cover;
  }

  .right {
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3% 5%;
  }

  .login {
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .line {
    width: 105px;
    margin-left: 0;
    border: 3px solid #6161ff;
    border-radius: 5px;
  }

  .inputs {
    display: flex;
    flex-direction: column;
  }

  .input {
    display: flex;
    flex-direction: column;
  }
  .input-styl {
    padding: 8px;
    margin-bottom: 10px;
    border-color: rgb(218, 218, 218);
    border-radius: 5px;
    border: 1px solid rgb(207, 206, 206);
  }

  .login-btn {
    display: flex;
    justify-content: space-between;
  }
  .btn {
    width: 80px;
    height: 30px;
    margin-top: 15px;
    background-color: #0088dd;
    color: white;
    border-radius: 5px;
    border-color: #0088dd;
  }
  .submit-btn {
    width: 80px;
    height: 30px;
    margin-top: 5px;
    background-color: #0088dd;
    color: white;
    border-radius: 5px;
    border-color: #0088dd;
  }

  .submit-btn:hover {
    width: 80px;
    height: 30px;
    background-color: #026fb3;
    color: white;
    border-radius: 5px;
    border-color: #026fb3;
  }
  .para {
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    margin-top: 20px;
  }

  .last-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .apple-gmail {
    display: flex;
    flex-direction: row;
  }
  .last-btn1 {
    width: 50%;
    height: 28px;
    background-color: black;
    border-color: black;
    border-radius: 4px;
    color: white;
    margin-right: 2px;
  }
  .last-btn1:hover {
    width: 50%;
    height: 28px;
    background-color: rgb(20, 20, 20);
    border-color: black;
    border-radius: 4px;
    color: rgb(231, 231, 231);
    margin-right: 2px;
  }
  #apple {
    margin-right: 5px;
    font-weight: bolder;
  }
  .last-btn2 {
    width: 50%;
    height: 28px;
    background-color: white;
    border-color: white;
    border-radius: 4px;
    margin-left: 2px;
    border: 1px solid gray;
  }
  .last-btn2:hover {
    width: 50%;
    height: 28px;
    background-color: rgb(247, 246, 246);
    border-color: white;
    border-radius: 4px;
    margin-left: 2px;
    border: 1px solid gray;
  }
  #google {
    margin-right: 5px;
    color: black;
  }
  .last-para {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color: black;
    margin-top: 10px;
  }

  .supplier-title-btns {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .top-btn {
    width: 100px;
    height: 40px;
    font-size: large;
    background-color: #0088dd;
    color: white;
    border-radius: 5px;
    border-color: #0088dd;
    margin-left: 5px;
  }

  .supplier-btns-div {
    display: flex;
    justify-content: flex-end;
  }
  .contact-line {
    width: 123px;
    margin-left: 0;
    border: 2px solid #6161ff;
    border-radius: 5px;
  }
  .contact-us {
    margin-bottom: 10px;
  }
}
