.hero {
  height: 100vh;
  margin-right: 40px;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.logo-left-div {
  width: 25%;
}

.form-right-div {
  width: 65%;

  height: max-content;
}

.main-right {
  margin-top: 20px;
}

.contact-from {
  height: 80%;
}
